@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: 'EB Garamond', serif;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
}